<form method="post" action="{{ path('app_signalementforum_delete', {'id': signalementforum.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ signalementforum.id) }}">
    <button class="btn">Delete</button>
</form>
