{% extends 'base.html.twig' %}

{% block title %}New ListAmis{% endblock %}

{% block body %}
    <h1>Create new ListAmis</h1>

    {{ include('list_amis/_form.html.twig') }}

    <a href="{{ path('app_list_amis_index') }}">back to list</a>
{% endblock %}
