{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    <h1>Réinitialiser votre mot de passe</h1>
    {% for flash_error in app.flashes('email') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        <button class="btn btn-primary">Réinitialisé</button>
    {{ form_end(resetForm) }}
{% endblock %}
