<form method="post" action="{{ path('app_liker_delete', {'id': liker.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ liker.id) }}">
    <button class="btn">Delete</button>
</form>
