{% extends 'base.html.twig' %}

{% block title %}Paramètre Utilisateur{% endblock %}

{% block body %}
    <section class="mb-5 pb-0" style="margin: 0px;padding: 0px;height: 473px; margin-bottom:50px;display: contents;">
    <div class="container" style="margin-bottom: 50px;margin-top: 89px;background: #212529;border-radius: 25px;height: 400px;width: 700px;">
        <div class="row">
            <div class="col">
                <p style="color: #ededed;text-align: center;font-size: 30px;margin-top: 13px;margin-bottom: 23px;">Paramètre Utilisateur</p>
            </div>
        </div>

    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

        </div>
</section>

{% endblock %}
